

<div class="container fixed-bottom">
    <div class="row">
        <div class="col-sm-5 copyright">
            <p>
                Copyright &copy; <span id="current-year">2022</span> Abelardo H. Piovano
            </p>
        </div>
        
        <div class="col-sm-5 social">
            <ul>
                <li>
                    <a href="https://github.com/abelardopiovano" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/abelardo-piovano-710a53135" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.facebook.com/abelardopiovano" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                </li>
                
                
            </ul>
        </div>
    </div>
</div>