
<br>
<div class="div1">




<form  (ngSubmit)="agregaExperiencia(formulario)" #formulario="ngForm" novalidate>
    
    <div class="form-group" style="visibility:hidden">
      
        <input name="id" type="number" class="form-control" id="id"  ngModel={{experiencia.id}} >
        
    </div>
     
    <div class="form-group">
      
      <input name="nombre_empresa"  type="text" class="form-control" id="nombre_empresa" aria-describedby="emailHelp" ngModel={{experiencia.nombre_empresa}} placeholder="NOMBRE DE LA EMPRESA">
      
    </div>
    <div class="form-group">
        
        <input name="cargo" type="text" class="form-control" id="cargo" aria-describedby="emailHelp" ngModel={{experiencia.cargo}}  placeholder="CARGO">
        
    </div>
    <div class="form-group">
        
        <input name="descripcion" type="text" class="form-control" id="descripcion" aria-describedby="emailHelp" ngModel={{experiencia.descripcion}}  placeholder="DESCRIPCIÓN">
        
    </div>
    <!--
    <div class="form-group">
        
        <input  name="persona_id" type="number" class="form-control" id="persona_id" ngModel={{experiencia.persona_id}}  placeholder="Persoan id">
        
    </div>
    -->
    
    <button style="margin: 10px 10px 10px 0px ;" type="submit" class="btn btn-primary" > GUARDAR</button>
    
    <button  type="button" class="btn btn-primary" [routerLink]="['/experiencia']"> CERRAR</button>
</form>
</div>