
    

<br>


<div id="contact" style="background-color:transparent;">
    <h2 style="color: rgb(168, 187, 204);" >CONTACTO</h2>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/abelardo.piovano@gmail.com">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="email" name="_replyto" placeholder="Ingrese su e-mail" required>
            <textarea name="message" placeholder="Ingrese su mensaje" required></textarea>
            <button type="submit">Enviár</button>
        </form>
    </div>
    <!-- End #contact-form -->
</div>
