


<div id="lead">
    <div id="lead-content" >

        

        <p style="color:white">
            <a [ngClass]="{'editorbtn1':valida2,'editorbtn2':!valida2}" [routerLink]="['/edita-persona']"><i class="fa-solid fa-pen-to-square fa-2xl"></i></a>
            
        </p>
        
        <h1>{{persona.nombre}}</h1>
        <h2>{{persona.descripcion}}</h2>
        <a href={{persona.url_cv}} class="btn-rounded-white">Descargar Curriculum Vitae</a>
        


        

        

        
    </div>
    <!-- End #lead-content -->

    
    
   
    <!-- End #lead-down -->
</div>
