

    


        
         
            <header (click)="cerrar()" [ngClass]="{'active':valor,'noactive':valor}">
                
                    
                    
                
                  
                
                  
                <ul id="menu" class="shadow">
                    <li>
                        <a [routerLink]="['/']" (click)="cerrar()" >Sobre Mí</a>
                    </li>
                    <li>
                        <a [routerLink]="['/experiencia']"(click)="cerrar()">Experiencia</a>
                    </li>
                    <li>
                        <a [routerLink]="['/educacion']"(click)="cerrar()">Educación</a>
                    </li>
                    <li>
                        <a [routerLink]="['/proyectos']" (click)="cerrar()">Proyectos</a>
                    </li>
                    <li>
                        <a [routerLink]="['/habilidades']"(click)="cerrar()" >Habilidades</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contacto']"(click)="cerrar()">Contacto</a>
                    </li>
                    <li>
                        <a [routerLink]="['/ingresar']" (click)="cerrar()">Ingresar</a>
                    </li>
                </ul>
            
            </header>
            
     

            
















